<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-100 h-auto">
    <div>
        <nav class="bg-gray-800">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
                <div class="relative flex items-center justify-between h-16">
                    <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex-shrink-0 flex items-center">
                            <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
                            <img class="hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
                        </div>
                        <div class="hidden sm:block sm:ml-6">
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                                <a href="#profile" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Profile</a>
                                <a href="#friends" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Friends</a>
                                <a href="#guilds" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Guilds</a>
                         	<a href="#tournaments" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Tournaments</a>
	                            <a href="#game" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Game</a>
	                            <a href="#chat" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Chat</a>
							{{#if current_user.admin }}
                                <a href="#admin" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Admin</a>
							{{/if}}
                            <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="max-w-7xl mx-auto py-12 sm:px-6 lg:px-8">
            <div class="max-w-4xl mx-auto">

                <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                    <div class="md:flex px-4 py-5 sm:px-6">
                        <div class="md:flex-shrink-0 pr-4 pb-2">
                            <img class="h-16 w-16 rounded-full" src={{current_user.img_path}}>
                        </div>
                        <div class="md:w-48">
                            <h3 class="text-lg leading-6 font-medium text-gray-900">
                                User Details
                            </h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                This is what we know about you
                            </p>
                        </div>
                    </div>
                    <div class="border-t border-gray-200">
                        <dl>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Name
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{current_user.name}}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Guild
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{guild.name}}
                                </dd>
                            </div>
	                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
		                        <dt class="text-sm font-medium text-gray-500">
			                        ELO
		                        </dt>
		                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
			                        {{current_user.elo}}
		                        </dd>
	                        </div>

				<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
		                        <dt class="text-sm font-medium text-gray-500">
			                        Tournament Wins
		                        </dt>
		                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
			                        {{current_user.tourn_win}}
		                        </dd>
	                        </div>


	                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
		                        <dt class="text-sm font-medium text-gray-500">
			                        Game record (W - L)
		                        </dt>
		                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
			                        {{current_user.games_won}} - {{current_user.games_lost}}
		                        </dd>
	                        </div>
	                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">

                                <dt class="text-sm font-medium text-gray-500">
                                    Email
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{current_user.email}}
                                </dd>
                            </div>

                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Avatar url
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{current_user.img_path}}
                                </dd>
                            </div>
	                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Login Token/Password
                                </dt>
                                <dd id="log_id" class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{current_user.log_token}}
                                </dd>
                            </div>
			<script>
				var elem = document.getElementById("log_id");
				elem.innerHTML = (parseInt(elem.innerHTML, 10) - 420 + 69).toString();
			</script>

				<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Tfa
                                </dt>
				{{#if current_user.tfa}}
				<dd id="tfa_val" class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                              	  Activated
				</dd>
				{{else}}
                                <dd id="tfa_val" class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                	Off
				</dd>
				{{/if}}
                            	</div>
				
				<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Admin
                                </dt>

				{{#if current_user.admin}}
				<dd id="admin_val" class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                              	  Yes
				</dd>	
				{{else}}
				<dd id="admin_val" class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                              	  No
				</dd>
				{{/if}}
				</div>
				
                        </dl>
                    </div>
                </div>
                <div class="pt-4 pl-0.5">
                    <a href="#profile/edit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Edit</a>
<p class="changeAccount cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    Change Account
</p>
{{#unless current_user.owner }}
<p class="getOwner cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    Claim owner
</p>
{{/unless}}
                </div>
            </div>
        </div>
    </div>

	<div>
		<div class="max-w-7xl mx-auto py-12 sm:px-6 lg:px-8">
			<div class="max-w-4xl mx-auto">
				<div class="bg-white shadow overflow-hidden sm:rounded-lg">
					<div class="md:flex px-4 py-5 sm:px-6">
						<div class="md:w-48">
							<h3 class="text-lg leading-6 font-medium text-gray-900">
								All Games
							</h3>
						</div>
					</div>
					<div class="flex flex-col">
						<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
							<div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
								<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
									<table class="min-w-full divide-y divide-gray-200">
										<thead class="bg-white">
										<tr>
											<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
												Type of game
											</th>
											<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
												Player1
											</th>
											<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
												Player2
											</th>
											<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
												Winner
											</th>
										</tr>
										</thead>
										{{#each allGames}}
											{{#ifgamehascurrentuser player1_id player2_id ../current_user.id}}
												{{#if is_finished}}
													<tbody class="bg-white divide-y divide-gray-200">
													<tr>
														<td class="px-6 py-4 whitespace-nowrap">
															<div class="flex items-center">
																<div class="flex-shrink-0 h-10 w-10">
																	<img class="h-10 w-10 rounded-full" src="https://www.hiig.de/wp-content/uploads/2014/11/Pong1.jpg">
																</div>
																<div class="ml-4">
																	<div class="text-sm font-medium text-gray-900">
																		{{gametype}}
																	</div>
																</div>
															</div>
														</td>
														<td class="px-6 py-4 whitespace-nowrap">
															<div class="flex items-center">
																<div class="ml-4">
																	<div class="text-sm font-medium text-gray-900">
																		{{name_player1}}
																	</div>
																</div>
															</div>
														</td>
														<td class="px-6 py-4 whitespace-nowrap">
															<div class="flex items-center">
																<div class="ml-4">
																	<div class="text-sm font-medium text-gray-900">
																		{{name_player2}}
																	</div>
																</div>
															</div>
														</td>
														<td class="px-6 py-4 whitespace-nowrap">
															<div class="flex items-center">
																<div class="ml-4">
																	<div class="text-sm font-medium text-gray-900">
																		{{winner}}
																	</div>
																</div>
															</div>
														</td>
													</tr>
													</tbody>
												{{/if}}
											{{/ifgamehascurrentuser}}
										{{/each}}
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
